---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/sections?q=politics&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - test
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-reset:
      - '34'
      ratelimit-remaining:
      - '708'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '708'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '29881'
      x-ratelimit-limit-day:
      - '50000'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":1,"results":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","editions":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","code":"default"}]}]}}'
  recorded_at: Sun, 28 Jun 2026 09:32:26 GMT
recorded_with: VCR 6.1.0
