---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/editions?api-key=test&q=canada&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-remaining-day:
      - '48588'
      x-ratelimit-limit-day:
      - '50000'
      ratelimit-reset:
      - '27'
      ratelimit-remaining:
      - '717'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '717'
      x-ratelimit-limit-minute:
      - '720'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":0,"results":[]}}'
  recorded_at: Sun, 12 Nov 2023 15:34:33 GMT
recorded_with: VCR 6.1.0
