---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/editions?api-key=test&q=canada&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-day:
      - '50000'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '47976'
      x-ratelimit-remaining-minute:
      - '718'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":0,"results":[]}}'
  recorded_at: Sun, 23 Oct 2022 17:25:05 GMT
recorded_with: VCR 6.1.0
