---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/editions?q=canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - test
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-remaining-minute:
      - '684'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '37302'
      x-ratelimit-limit-day:
      - '50000'
      ratelimit-reset:
      - '13'
      ratelimit-remaining:
      - '684'
      ratelimit-limit:
      - '720'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":0,"results":[]}}'
  recorded_at: Mon, 29 Jun 2026 07:04:47 GMT
recorded_with: VCR 6.1.0
