---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/editions?q=canada&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - test
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-reset:
      - '34'
      ratelimit-remaining:
      - '710'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '710'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '29883'
      x-ratelimit-limit-day:
      - '50000'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":0,"results":[]}}'
  recorded_at: Sun, 28 Jun 2026 09:32:26 GMT
recorded_with: VCR 6.1.0
