---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/sections?api-key=test&q=politics&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-day:
      - '50000'
      ratelimit-reset:
      - '26'
      ratelimit-remaining:
      - '718'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '718'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '46348'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":1,"results":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","editions":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","code":"default"}]}]}}'
  recorded_at: Tue, 17 Dec 2024 21:58:34 GMT
recorded_with: VCR 6.1.0
