---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/sections?q=politics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - test
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-remaining-minute:
      - '681'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '37299'
      x-ratelimit-limit-day:
      - '50000'
      ratelimit-reset:
      - '13'
      ratelimit-remaining:
      - '681'
      ratelimit-limit:
      - '720'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":1,"results":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","editions":[{"id":"politics","webTitle":"Politics","webUrl":"https://www.theguardian.com/politics","apiUrl":"https://content.guardianapis.com/politics","code":"default"}]}]}}'
  recorded_at: Mon, 29 Jun 2026 07:04:47 GMT
recorded_with: VCR 6.1.0
