---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/tags?api-key=test&q=football&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-remaining-day:
      - '48589'
      x-ratelimit-limit-day:
      - '50000'
      ratelimit-reset:
      - '27'
      ratelimit-remaining:
      - '718'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '718'
      x-ratelimit-limit-minute:
      - '720'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":1603,"startIndex":1,"pageSize":10,"currentPage":1,"pages":161,"results":[{"id":"katine/football","type":"keyword","sectionId":"katine","sectionName":"Katine","webTitle":"Football","webUrl":"https://www.theguardian.com/katine/football","apiUrl":"https://content.guardianapis.com/katine/football"},{"id":"football/football","type":"keyword","sectionId":"football","sectionName":"Football","webTitle":"Football","webUrl":"https://www.theguardian.com/football/football","apiUrl":"https://content.guardianapis.com/football/football"},{"id":"sport/college-football","type":"keyword","sectionId":"sport","sectionName":"Sport","webTitle":"College
        football","webUrl":"https://www.theguardian.com/sport/college-football","apiUrl":"https://content[...]
