---
http_interactions:
- request:
    method: get
    uri: https://content.guardianapis.com/tags?q=football&%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - test
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-reset:
      - '34'
      ratelimit-remaining:
      - '711'
      ratelimit-limit:
      - '720'
      x-ratelimit-remaining-minute:
      - '711'
      x-ratelimit-limit-minute:
      - '720'
      x-ratelimit-remaining-day:
      - '29884'
      x-ratelimit-limit-day:
      - '50000'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"status":"ok","userTier":"developer","total":1743,"startIndex":1,"pageSize":10,"currentPage":1,"pages":175,"results":[{"id":"katine/football","type":"keyword","sectionId":"katine","sectionName":"Katine","webTitle":"Football","webUrl":"https://www.theguardian.com/katine/football","apiUrl":"https://content.guardianapis.com/katine/football","keywordType":"other"},{"id":"football/football","type":"keyword","sectionId":"football","sectionName":"Football","webTitle":"Football","webUrl":"https://www.theguardian.com/football/football","apiUrl":"https://content.guardianapis.com/football/football","keywordType":"other"},{"id":"football/series/the-football-mine","type":"series","sectionId":"football","sectionName":"Football","webTitle":"The
        football mine","webUrl":"https://www.theguardian.com/football/series/the-football-mine","apiUrl":"https://content.guardianapis.com/football/series/the-football-mine","description":"<p>A
        collection of sports writing by <a href=\"https://www.theguardian.com/profile/richard-foster\">Richard
        Foster</a></p>"},{"id":"sport/college-football","type":"keyword","sectionId":"sport","sectionName":"Sport","webTitle":"College
        football","webUrl":"https://www.theguardian.com/sport/college-football","apiUrl":"https://content.guardianapis.com/sport/college-football","keywordType":"other"},{"id":"football/football-index","type":"keyword","sectionId":"football","secti[...]
